<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />
		<meta property="og:image" content="https://cf55ae10.ngrok.io/FEIB_POC/servicebot.png" />
		<title>客服人員後台</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/stylesheets/ctbc.css">
		<link rel="stylesheet" href="/stylesheets/cs_manager.css">
		<link rel="stylesheet" href="/stylesheets/common.css">
		
		
	</head>
	<body>
	
		<!-- Left Hand Side-->
		<div class='cs_manager_list current_view'>
			<div id="search_box_container">
				<button>O</button>
				<input type="text" placeholder="搜尋"/>
			</div>
			
			<% [{"type":"CT200H","vehicle_id":"ABZ-1234","name":"王大明","avatar":"/images/avatar.png","unread":2,"latest_msg":[{"msg":"是的","time":"2019/09/20 10:11:50"}],"note":[{"msg":"生日"}]},{"type":"ES200","vehicle_id":"ABE-1234","name":"陳大為","avatar":"/images/avatar.png","unread":4,"latest_msg":[{"msg":"謝謝！！","time":"2019/09/18 14:05:03"}],"note":[{"msg":"基金到期日10/06"}]},{"type":"RX450H","vehicle_id":"ACE-8866","name":"林小東","avatar":"/images/avatar.png","unread":0,"latest_msg":[{"msg":"感謝您！","time":"2019/09/21 08:05:15"}],"note":[]},{"type":"GS300","vehicle_id":"LXS-8888","name":"吳小涵","avatar":"/images/avatar.png","unread":0,"latest_msg":[{"msg":"了解","time":"2019/09/15 18:35:07"}],"note":[]},{"type":"NX200","vehicle_id":"AAA-0000","name":"李小龍","avatar":"/images/avatar.png","unread":0,"latest_msg":[{"msg":"您已寄出一張圖片","time":"2019/09/17 12:00:44"}],"note":[]}].forEach(function (item) { %>
				<div class='list_element'>
					<div class="img" alt="">
						<img src="<%= item.avatar %>" alt="">
					</div>
					<div class='chat_body'>
						<div class="title">
							<%= item.name %>
						</div>
						<div class="msg">
							<%= item.latest_msg[0].msg %>
						</div>
					</div>
					<% if (item.unread) { %>
						<div class="unread">
							<%= item.unread %>
						</div>
					<% } %>
					<% if (item.note.length>0) { %>
						<div class="note" title=''>
							<div class=""><%= item.note.map(function(item){return item.msg;}) %>
							</div>
						</div>
					<% } %>
				</div>
			<% }); %>
		</div>
		
		<!-- Right Hand Side-->
		<div class='cs_manager_dialog hide_view'>
			<div class="header_content">
				<div class="heder_service">
					<img alt="" class="img-responsive" src="/images/back.png">
				</div>
				<div class="txt">
					<div class="logo">
					</div>
					王大明
				</div>
			</div>
				<div id='console'>
				</div>
				
				<!-- 下方控制面板 -->
				<div class="control-bar">
					<!-- 功能列表(隱) -->
					<% if(["金牌話術","訊息推播","照片","相機","撥打","出價","車主資料","常用訊息"].length>0){ %>
						<div class="select-menu" style="display: none;">
							<ul class="select-tag05">
					<% } %>
					
					<% ["金牌話術","訊息推播","照片","相機","撥打","出價","車主資料","常用訊息"].forEach(function (item,i) { %>
						<% if( i!=0 && i%3==0 ){%>
							</ul>
							<ul class="select-tag05">
						<% } %>
						<li>
							<a href="javascript:void(0)" avalon-events="">
								<img alt="" class="img-responsive" src="/images/func.png" border="0">
								<%= item %>
							</a>
						</li>
					<% }); %>
					
					<% if(["金牌話術","訊息推播","照片","相機","撥打","出價","車主資料","常用訊息"].length>0){ %>
							</ul>
						</div>
					<% } %>
					
					<!-- 金牌話術(隱) -->
					<div>
						<div id='talk_tricks_container'></div>
					</div>
					<!-- 表情符號(隱) -->
					<div>
						<div id='emoticon_container'></div>
					</div>
					<!-- 對話頁面(顯) -->
					<div class="smart_top" avalon-events="" style="">
						<div class="box">
							<a href="javascript:void(0)" class="btn-add" avalon-events="">
							</a>
							<a href="javascript:void(0)" class="btn-laugh" avalon-events="">
							</a>
							<input class="input msg" placeholder="你想問什麼？" maxlength="30" avalon-events="" type="text">
							<a href="javascript:void(0)" class="btn-mic" avalon-events="">
								<span class="btn-search">
									<i></i>
								</span>
							</a>
						</div>
					</div>
				</div>
				
				
			
			<!-- Div After click "相機"-->
			<div id='video_container'>
				<video autoplay></video>
			</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		<script src="/javascripts/cs_manager_preset.js"></script>
		<script>
			$( function() {
				
				draw_dialog([{"type":"service","profile":[{"name":"服務專員","avatar":"/images/avatar.png"}],"content":[{"msg":"您好！","read":"","time":"2018/09/19 14:55:13"}]},{"type":"client","profile":[{"name":"王大明","avatar":"/images/avatar.png"}],"content":[{"msg":"我想了解最新的理財商品","read":"","time":"2018/09/19 14:55:19"}]},{"type":"service","profile":[{"name":"服務專員","avatar":"/images/avatar.png"}],"content":[{"msg":"好的，馬上為您服務！","read":"","time":"2018/09/19 14:55:25"}]}]);
				
			} );
		</script>
		<script src="/javascripts/common.js"></script>
		
	</body>
</html>
